 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Times New Roman', Times, serif;
    
 }
 a{
     text-decoration:none ;
 }
 /* nav section */
 #header nav{
background-color: grey;
 }
  nav{
         display: flex;
         top: 0;
        left: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 20px;
         align-items: right;
         
    }
    

  nav ul li{
     list-style: none;
     display: inline;
     margin:  30px;
     /* align-items: right; */
 }
  nav ul li a{
     text-decoration: none;
     color:#fff;
     font-size: 17px;
  }
 nav ul li a:hover{
     color: #ff3e3b;
 }
 /* about section */
 #about{
text-align: center;
width: 50%;
margin:auto;
margin-top: 100px;
background-color: green;
opacity: 0.6;
border-radius: 30px;
 } 
 #about p{
     font-size: 20px;
     color:snow;
 }
    .container{
     max-width: 1170px;
      margin: auto;
 }
 .row{
     display: flex;
     /* flex-wrap: wrap; */
 }
 ul{
     list-style: none;
 }
#order{
    background-color: rebeccapurple;
    height: 100vh;
     position: relative;
    color: white;
    padding-top: 2rem;
    border-radius: 30px;
 }


.bottom{
    padding-top: 2rem;
}
 .footer{
     background-color: #24262b;
     padding: 70px 0;
     padding-top: 5rem;
     border-radius: 30px;


 }
 .footer-col{
width:25% ;
padding:0 15% ;
 }
 .footer-col h4{
     font-size: 18px;
     color: #ffffff;
     text-transform: uppercase;
     margin-bottom: 30px;
     font-weight: 500;
     position: relative;
 }
 .footer-col h4::before{
  contain: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color:#e91e63 ;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
 }
 .footer col ul li:not(:last-child){
margin-bottom: 10px;
 }
 .footer col ul li a{
     font-size: 16px;
     text-transform: capitalize;
     color: #ffffff;
     text-decoration: none;
     font-weight: 300;
     color: #bbbbbb;
     display: block;
     transition:all 0.3s ease;
 }
 .footer col ul li a:hover{
     color: #ffffff;
     padding-left: 8px ;

 }
 .footer h4{
     color: white;
 }
 .footer col .social-links i{
     display:flex;
     height: 40px;
     width:40px ;
      margin:35px;
     align-items: center;
     line-height: 40px;
      transition: all 0.5s ease;
  }
 .footer col .socials-links{
     color: #24262b;
margin: 0 10px 10px 0;
 }
 .social-links a i{
     margin: 10px;
 }
  /* responsieve */
 @media(max-width:767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
 }
 @media(max-width:574px){
    .footer-col {
        width: 100%;
     }
 }